@charset "UTF-8";


.vfrc-prompt button {
    position: relative;
    color: transparent;
}
.vfrc-prompt button::after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    color: #ffffff;
}

.vfrc-prompt button[label="End Chat"]::after {
    content: "End Chat";
}
.vfrc-prompt button[label="End Chat"]::after {
    content: "Avsluta Chatt";
}
.vfrc-prompt button[label="End Chat"]::after {
    content: "Beszélgetés vége";
}
.vfrc-prompt button[label="End Chat"]::after {
    content: "Terminer la conversation";
}
.vfrc-prompt button[label="End Chat"]::after {
    content: "Chat Beenden";
}
.vfrc-prompt button[label=Cancel]::after {
    content: "Cancel";
}
.vfrc-prompt button[label=Cancel]::after {
    content: "Avbryt";
}
.vfrc-prompt button[label=Cancel]::after {
    content: "Mégse";
}
.vfrc-prompt button[label=Cancel]::after {
    content: "Annulé";
}
.vfrc-prompt button[label=Cancel]::after {
    content: "Schließen";
}

button.vfrc-button::after {
    content: "Start New Chat";
    content: "Starta Ny Chatt";
    content: "Új beszélgetés indítása";
    content: "Commencer une nouvelle conversation";
    content: "Neuen Chat Starten";
}