@charset "UTF-8";

.vfrc-button--secondary {
    background-color: #efefef;
    color: #000000;
    border-color: grey;
}

.vfrc-button--secondary:hover {
    font-weight: 700;
    border-color: transparent;
}

.vfrc-footer .vfrc-chat-input input {
    background-image: none;
}



.vfrc-footer button.vfrc-button {
    position: relative;
    color: transparent;
}

.vfrc-footer button.vfrc-button[label="Start new chat"] {
    visibility: hidden;
}

/*
.vfrc-footer .vfrc-chat-input--button .vfrc-bubble {
    background-color: #AA0000;
}
*/
/*.vfrc-footer .vfrc-bubble {
    background-color: #AA0000;
}*/

/*sdfgsdfsdfsdfsdf*/
.vfrc-prompt {
    background-color: #ffffff;
}
.vfrc-prompt button {
    position: relative;
    color: transparent;
}

/*test*/
.vfrc-footer button.vfrc-button::after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    color: #ffffff;
}
.vfrc-prompt button::after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    color: #000000;
}

.vfrc-prompt button[label="End Chat"]{
    color: transparent;
    font-size: 0px;
}
.vfrc-prompt button[label="End Chat"]::after {
    content: "Chat Beenden";
    font-size: 15px;
    /*background-color: #AA0000; /*chat beenden button*/
}

.vfrc-prompt button[label="Cancel"]{
    visibility: hidden;
}
.vfrc-prompt button[label="Cancel"]::after {
    content: "Schließen";
    visibility: visible;
}

button.vfrc-button--primary{/*px changes*/
    color: transparent;
    font-size: 0;
}
button.vfrc-button--primary::after {
    content: "Neuen Chat Starten";
    font-size: 15px;
}

.vfrc-chat--status{
    display:none;
}
.vfrc-chat--status::after{
    content:"Du hast den Chat beendet";
}

.vfrc-input[label="Message..."]::after{
    content:"Nachricht...";
}
.vfrc-chat-input--button[label="Message..."]::after{
    content:"Nachricht...";
}
/*today nicht sichtbar*/
.vfrc-chat--session-time{
    display: none;
}

/*message... :placeholder*/
.vfrc-footer .vfrc-chat-input input {
    background-image: none;
}
.vfrc-footer .vfrc-chat-input input::-moz-placeholder {
    color: transparent;
}
.vfrc-footer .vfrc-chat-input input::placeholder {
    color: transparent;
}
.vfrc-footer .vfrc-chat-input input:-moz-placeholder-shown {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='250px'><text x='15' y='25' fill='silver' font-family='verdana' font-size='15'>Message...</text></svg>");
    background-repeat: no-repeat;

}
.vfrc-footer .vfrc-chat-input input:placeholder-shown {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='250px'><text x='15' y='25' fill='silver' font-family='verdana' font-size='15'>Nachricht...</text></svg>");
    background-repeat: no-repeat;
}