@charset "UTF-8";
/*
.vfrc-launcher {
    background-color: #484848;
}
.vfrc-launcher:hover {
    background-color: #000000;
}

.vfrc-chat {
    background-color: #484848;
}

.vfrc-widget--chat {
    max-height: 100% !important;
}

.vfrc-header,
.vfrc-footer {
    background-color: #000000;
}

::-webkit-scrollbar {
    border-left: 1px solid #000000;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

.vfrc-assistant-info--title {
    color: #ffffff;
}

.vfrc-assistant-info--description,
.vfrc-chat--session-time,
.vfrc-timestamp,
.vfrc-footer--watermark {
    color: rgba(255, 255, 255, 0.8);
}
.vfrc-assistant-info--description a,
.vfrc-chat--session-time a,
.vfrc-timestamp a,
.vfrc-footer--watermark a {
    color: #ffffff;
}

.vfrc-user-response .vfrc-message {
    background-color: #000000;
}

.vfrc-button--secondary {
    background-color: #efefef;
    color: #000000;
    border-color: grey;
}

.vfrc-button--secondary:hover {
    font-weight: 700;
    border-color: black;
}
*/
.vfrc-footer .vfrc-chat-input input {
    background-image: none;
}


.vfrc-footer button.vfrc-button {
    position: relative;
    /*background-color: yellowgreen !important;*/
    color: transparent;
}
.vfrc-footer button.vfrc-button::after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    color: #ffffff;
}
.vfrc-footer .vfrc-chat-input--button .vfrc-bubble {
    background-color: #AA0000;
}

.vfrc-prompt {
    background-color: grey;
    color: transparent;
}
.vfrc-prompt button {
    position: relative;
    color: transparent;
    transition: none;
}
.vfrc-prompt button::after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    color: #ffffff;
}


.vfrc-prompt button[label="End Chat"]::after {
    content: "Chat Beenden";
}
.vfrc-prompt button[label="Cancel"]::after {
    content: "Schließen";
}
/*.c-jZeVGh-igaDqE-type-subtle{} kann über ein hohes delay verstackt werden*/

button.vfrc-button--primary::after {
    content: "Neuen Chat Starten";
}

/*.vfrc-chat--status::after{
    .c-lajUCC{
        content: "Sie sind dem Chat beigetreten"
    }

}*/
/*should now not have a transition.// find out what the name of the message holding class is to change its content */
.c-jZeVGh-igaDqE-type-subtle{
    transition: blue 15ms ease 0s;
}
/*.c-jZeVGh{
    transition: none;
}*/
/* .classname{display:none} .classname::after{content:"new content"} */
.vfrc-chat--status{
    display:none;
}
.vfrc-chat--status::after{
    content:"Du hast den Chat beendet";
}
/*not sure if it works*/
/*message*/
.vfrc-chat-input{
    color: yellow;
}
.vfrc-input[label="Message..."]::after{
    content:"Nachricht...";
}
.vfrc-chat-input--button[label="Message..."]::after{
    content:"Nachricht...";
}
/*today*/
.vfrc-chat--session-time{
    color: transparent;
    display: none;
}
/*or c-jNQfki*/
.vfrc-chat-input c-iZFrRI{
    .vfrc-chat-input::placeholder{
        color: blue;
    }

   /* display: none;das ist die box*/
    /*display bezieht sich auf die box nicht aber auf den text im speziellen. der ist vermutlich als unterklasse bzw objekt vorhanden*/
}
/*try2 for message*/
.vfrc-chat-input::placeholder{
    color: red;
    display: none;
}