/* use this file to override default styles when forking this repository */

/*
  PAGE CONTENTS

  Customize the page that the chat bubble lives on
*/

/* .voiceflow-chat {} */

/* .vfrc-launcher {} */

/* .vfrc-chat--overlay {} */


@charset "UTF-8";


.vfrc-prompt button {
    position: relative;
    color: transparent;
}
.vfrc-prompt button::after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    color: #ffffff;
}

.vfrc-prompt button[label="End Chat"]::after {
    content: "End Chat";
}
.vfrc-prompt button[label="End Chat"]::after {
    content: "Avsluta Chatt";
}
.vfrc-prompt button[label="End Chat"]::after {
    content: "Beszélgetés vége";
}
.vfrc-prompt button[label="End Chat"]::after {
    content: "Terminer la conversation";
}
.vfrc-prompt button[label="End Chat"]::after {
    content: "Chat Beenden";
}
.vfrc-prompt button[label=Cancel]::after {
    content: "Cancel";
}
.vfrc-prompt button[label=Cancel]::after {
    content: "Avbryt";
}
.vfrc-prompt button[label=Cancel]::after {
    content: "Mégse";
}
.vfrc-prompt button[label=Cancel]::after {
    content: "Annulé";
}
.vfrc-prompt button[label=Cancel]::after {
    content: "Schließen";
}

button.vfrc-button::after {
    content: "Start New Chat";
    content: "Starta Ny Chatt";
    content: "Új beszélgetés indítása";
    content: "Commencer une nouvelle conversation";
    content: "Neuen Chat Starten";
}
/*
  CHAT WIDGET HEADER

  Customize the content, controls and styling included in your chat widget header, including the Assistant Information.
  Note that changes to the assistant information here will be shared across other elements that consume this styling.
*/

/* .vfrc-header {} */

/* .vfrc-assistant-info {} */

/* .vfrc-assistant-info--title {} */

/* .vfrc-assistant-info--description {} */

/* .vfrc-avatar {} */

/* .vfrc-icon {} */


/*
  CHAT MESSAGE BODY

  Customize the layout and display of the chat body, and the conversation's metadata
*/

/* .vfrc-chat {} */


/* .vfrc-chat--spacer {} */

/* .vfrc-chat--session-time {} */

/* .vfrc-chat--status {} */

/* .vfrc-message {} */

/* .vfrc-timestamp {} */


/*
  ASSISTANT RESPONSES

  Customize the style and layout of assistant response messages.
*/

/* .vfrc-system-response--indicator {} */

/* .vfrc-system-response {} */

/* .vfrc-system-response--controls {} */

/* .vfrc-system-response--list {} */

/* .vfrc-system-response--actions {} */

/* .vfrc-button {} */

/* .vfrc-image {} */

/* .vfrc-image--background {color: green;background-color: green} */

/* .vfrc-card--content {} */

/* .vfrc-card--header {color: green} */

/* .vfrc-card--description {} */

/* .vfrc-carousel {} */

/* .vfrc-carousel--button {} */

/* Targeted styling for just the Assistant messages. */
/* .vfrc-system-response .vfrc-message {color : #000; background-color: black;} */

/* Targeted styling for just the Assistant buttons. */
/* .vfrc-system-response .vfrc-button {color: black;background-color: black;} */


/*
  USER RESPONSES

  Customize the style and layout of users response messages.
*/

/* .vfrc-user-response {} */

/* Targeted styling for just the User messages */
/* .vfrc-user-response .vfrc-message {} */


/*
  FOOTER

  Customize the layout and appearance of the message input field and the VF Branding
*/

/* .vf-footer {} */

/* .vfrc-input {} */

/* .vfrc-chat-input--button {} */

/* .vfrc-footer--watermark {} */
